2.1/rng/BITS-bookcustom-mixes2-1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Book Interchange DTD Customize Mixes Module -->
<!-- VERSION:   BITS 2.1 -->
<!-- DATE:      January 2022 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD BITS Book Interchange DTD Customize Mixes Module v2.1 20220202//EN"
  Delivered as file "BITS-bookcustom-mixes2-1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride the JATS DTD Suite default named, -->
<!-- general purpose mixes. (Mixes for particular -->
<!-- elements are declared in the Archive Custom -->
<!-- Models module.) -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- default mixes modules (%default-mixes;) -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created as a superset customization -->
<!-- of the ANSI/NISO JATS Z39.96-2012 Version 1.0 -->
<!-- Journal Article Tag Set. -->
<!---->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of books or book-like -->
<!-- material for archiving and transferring -->
<!-- such material between archives or they may create -->
<!-- a custom XML DTD from the BITS Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and new DTD-specific customization -->
<!-- modules to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the BITS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Book Interchange Tag Suite (BITS). -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Book Interchange Tag Suite -->
<!-- (BITS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- April 2012 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National -->
<!-- National Center for Biotechnology Information -->
<!-- (NCBI), a center of the US National Library of -->
<!-- Medicine (NLM). -->
<!---->
<!-- The BITS Book Interchange DTD is built from the -->
<!-- Journal Archiving and Interchange DTD of the -->
<!-- ANSI/NISO Journal Article Tag Suite (JATS) -->
<!-- Version 1.1d1 (Z39.96-2015). -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- bits@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
      =============================================================
       BITS Version 2.1                (DAL/BTU) v2.1  (2022-02-02)
       JATS Version 1.3                (DAL/BTU) v1.3  (2021-06-10)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.3 was approved in 2020, and BITS has been modified to use
       this most recent version. BITS requests approved by the BITS
       Working Group and selected changes from JATS were added to BITS
       to this BITS version 2.1.
  
    7. INSIDE TABLE CELLS - Added the following element to <td> and
       <th> and <oasis:entry>, using %inside-cell: 
          disp-quote | speech | statement | verse-group
  
  
    6. BITS became version "2.1" ("v2.1 20220202")
       Current JATS version is "1.3" and "v1.3 20220202"
  
      =============================================================
       BITS Version 2.0                (DAL/BTU) v2.0  (2015-12-25)
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, and BITS modified to use
       the most recent version. No other changes to BITS were made.
  
    5. BITS remained version "2.0" but became "v2.0 20151225"
       JATS became version "1.1" and "v1.1 20151215"
  
      =============================================================
       BITS Version 2.0                (DAL/BTU) v2.0  (2015-03-15)
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-03-01)
  
       BITS was modified, based on user feedback collected in 2014 
       and January/February 2015, according to the decisions
       made by the BITS Working Group. This DTD represents current 
       BITS and an interim version of the non-normative JATS DTD 
       Suite (version 1.1), as an indication to JATS users of 
       the decisions that have been made by the JATS Standing
       Committee. 
  
       NISO JATS is a continuing maintenance NISO Standard, which
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
    4. ANSWER-SPECIFIC PARAGRAPH-LEVEL OBJECTS
       Created a new PE (answer-para-level) to prohibit 
       <explanation> at the paragraph level inside
       <answer>, because that created DTD determinism problems.
  
    3. BOOK APPENDIX AND BOOK APPENDIX GROUP
       Changed the entity book-parts-mix to include the new
       book-level appendix and appendix group elements
       (<book-app> and <book-app.group>), so it WILL NOT LONGER
       contain the book-part-level appendices (<app> and
       <app-group>).
  
    2. BITS became version "2.0" and   "v2.0 20150630"
       JATS became version "1.1" and "v1.1 20150301"
  
       =============================================================
       BITS Version 1.1                (DAL/BTU) v1.1    (2014-09-30)
       JATS Version 1.1d2              (DAL/BTU) v1.1d2  (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    1. BITS became version "1.1" and   "v1.1 20140930//EN"
       JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
       =============================================================
-->
<!-- ============================================================= -->
<!-- ELEMENT MIXES FOR USE IN CONTENT MODELS -->
<!-- (MIXES ARE COMPOSED USING CLASSES) -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- EXCEPTION: A MIX USED IN OTHER MIXES -->
<!-- ============================================================= -->
<!-- ALL PHRASE-LEVEL ELEMENTS -->
<!--
  This Parameter Entity contains all of the
  phrase-level elements in the entire
  Archival Tag Set EXCEPT THE <break> element
  and <x> element.
  MAINTENANCE NOTE:
  Since this is used inside other mixes
  (like a class and unlike all other mixes)
  all-phrase must
    - be declared first in this module.
    - does not start with an OR bar, as all
      other inline mixes do
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="all-phrase">
    <choice>
      <ref name="address-link.class"/>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- BOOK PARTS MIX (NAMED BOOK PART ELEMENTS) -->
  <!-- ============================================================= -->
  <!-- BOOK PARTS MIX -->
  <!--
    All the named and generic elements that may
    appear in front or back matter.
  -->
  <define name="book-parts-mix">
    <choice>
      <ref name="book-part.class"/>
      <ref name="book-back-only.class"/>
      <ref name="front-only.class"/>
      <ref name="front-back.class"/>
      <ref name="both-front-back.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- PARAGRAPH-LEVEL ELEMENT MIXES -->
  <!-- ============================================================= -->
  <!-- PARAGRAPH-LEVEL ELEMENTS -->
  <!--
    Elements that may be used at the same
    structural level as a paragraph, for
    example inside a Section
    Note: There a major overlap between this
    parameter entity and that for the elements
    that are at the same level as a paragraph.
    Inline elements appear only inside a
    paragraph, but block elements such as quotes
    and lists may appear either within a
    paragraph or at the same level as a
    paragraph. This serves a requirement in a
    repository DTD, since some incoming material
    will have restricted such elements to only
    inside a paragraph,  some incoming material
    will have restricted them to only outside a
    paragraph and some may allow them in both
    places. Thus the DTD must allow for them to
    be in either or both.
  -->
  <define name="para-level">
    <choice>
      <ref name="block-display.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="math.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="related-article.class"/>
      <ref name="rest-of-para.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <define name="para-level-minus-x">
    <choice>
      <ref name="block-display.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="math.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="related-article.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- INSIDE AN ANSWER PARAGRAPH-LEVEL ELEMENTS -->
  <!--
    The elements that may be used at the same
    structural level as a paragraph, when 
    used inside an <answer>.
    Remarks: This rather awkward parameter entity
    was created to overcome the DTD determinism
    issues when using <explanation> inside
    an <answer>. In order for <explanation> to
    be used at the end of an answer, it must
    not be allowed at the paragraph level inside
    <answer>.
  -->
  <define name="answer-para-level">
    <choice>
      <ref name="block-display-minus-explanation.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="math.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="related-article.class"/>
      <ref name="rest-of-para.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- TABLE ELEMENT MIXES -->
  <!-- ============================================================= -->
  <!-- INSIDE TABLE CELL ELEMENTS -->
  <!--
    Mixed with #PCDATA inside a table cell, such
    as a <td> or <th> element in the XHTML table
    model, the <entry> element in the OASIS CALS
    table model, etc.  This PE will be used as the
    value of %Flow.mix;, %paracon;, etc.
    MAINTENANCE NOTE: Inside cell is an exception,
    an inline mix that does not start with an OR
    bar. This is because is used within the
    PE -%Flow.mix;, which is an inline mix
    defined in the course of the XHTML Table DTD,
    a DTD not under control of this DTD Suite.
  -->
  <define name="inside-cell">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-math.class"/>
      <ref name="break.class"/>
      <ref name="chem-struct-wrap.class"/>
      <ref name="citation.class"/>
      <ref name="intable-para.class"/>
      <ref name="list.class"/>
      <ref name="nothing-but-para.class"/>
      <ref name="question-answer.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- INLINE ELEMENT MIXES -->
  <!-- ============================================================= -->
  <!-- EMPHASIS MIX ELEMENTS -->
  <!--
    Elements that may be used inside most of the
    emphasis class elements
  -->
  <define name="emphasized-text">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- JUST RENDITION -->
  <!--
    Only the simplest of the typographic
    emphasis elements, as well as subscript and
    superscript.  Usually used in a model that
    allows #PCDATA and this restricted mixture.
    This mix may be stripped down to only
    subscript and superscript by some, more
    restrictive DTDs.
    MAINTENANCE NOTE:  This Parameter Entity
    and the related PE "rendition-plus" have
    been put in place to restrict the amount of
    variability that a person modifying the DTD
    through PE redefinition can achieve. Some
    elements have been set #PCDATA plus one PE
    and some have been set to #PCDATA plus the
    other in an effort to allow designers to
    modify entire groups of elements, but not
    to change similar models individually .
  -->
  <define name="just-rendition">
    <ref name="all-phrase"/>
  </define>
  <!-- RENDITION MARKUP PLUS -->
  <!--
    Only the simplest of the typographic
    emphasis elements, as well as subscript and
    superscript.  Usually used in a model that
    allows #PCDATA and this restricted mixture.
    This mix may be enhanced slightly in some
    more permissive DTDs, and should always
    contain at least typographic emphasis,
    subscript, and superscript.
    MAINTENANCE NOTE: This Parameter Entity
    and the related PE "just-rendition" have
    been put in place to restrict the amount of
    variability that a person modifying the DTD
    through PE redefinition can achieve. Some
    elements have been set #PCDATA plus one PE
    and some have been set to #PCDATA plus the
    other in an effort to allow designers to
    modify entire groups of elements, but not
    to individually change similar models.
    modify entire groups of elements, but not
    to change similar models individually .
  -->
  <define name="rendition-plus">
    <ref name="all-phrase"/>
  </define>
  <!-- SIMPLE PHRASE-LEVEL TEXTUAL ELEMENTS -->
  <!--
    Elements that may be used almost anywhere
    text is used, for example, inside a title.
    Simple text plus inline display and math
    elements.
  -->
  <define name="simple-phrase">
    <ref name="all-phrase"/>
  </define>
  <!-- SIMPLE TEXTUAL CONTENT -->
  <!--
    Elements that may be used inside elements
    that are really expected to be #PCDATA and
    not to contain any of these things.
    As first defined, this element contained
    no math and no links, thus is was even
    simpler than %simple-phrase; in this version
    the two are the same.
  -->
  <define name="simple-text">
    <ref name="all-phrase"/>
  </define>
</grammar>
<!-- ================== End BITS Book DTD Mixes Customization ==== -->
