2.1/rng/BITS-bookcustom-models2-1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Book Interchange DTD Customize Content and -->
<!-- Attributes Module -->
<!-- VERSION:   BITS 2.1 -->
<!-- DATE:      January 2022 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD BITS Book Interchange DTD Customize Content and Attributes Module v2.1 20220202//EN"
  Delivered as file "BITS-bookcustom-models2-1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride the content models, parts of content -->
<!-- models, or attribute lists of the JATS DTD Suite -->
<!---->
<!-- Or-groups within models should use mixes or -->
<!-- classes rather than name elements directly. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created as a superset customization -->
<!-- of the ANSI/NISO JATS Z39.96-2012 Version 1.0 -->
<!-- Journal Article Tag Set. -->
<!---->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of books or book-like -->
<!-- material for archiving and transferring -->
<!-- such material between archives or they may create -->
<!-- a custom XML DTD from the BITS Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and new DTD-specific customization -->
<!-- modules to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the BITS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Book Interchange Tag Suite (BITS). -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Book Interchange Tag Suite -->
<!-- (BITS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- April 2012 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National -->
<!-- National Center for Biotechnology Information -->
<!-- (NCBI), a center of the US National Library of -->
<!-- Medicine (NLM). -->
<!---->
<!-- The BITS Book Interchange DTD is built from the -->
<!-- Journal Archiving and Interchange DTD of the -->
<!-- ANSI/NISO Journal Article Tag Suite (JATS) -->
<!-- Version 1.1d1 (Z39.96-2015). -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- bits@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
      =============================================================
       BITS Version 2.1                (DAL/BTU) v2.1  (2022-02-02)
       JATS Version 1.3                (DAL/BTU) v1.3  (2021-06-10)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.3 was approved in 2020, and BITS has been modified to use
       this most recent version. BITS requests approved by the BITS
       Working Group and selected changes from JATS were added to BITS
       to this BITS version 2.1.
  
   37. PROCESSING METADATA ATTRIBUTES - Override JATS to
           -  Remove @base-tagset
           -  Fix MathML version at "3.0"  
  
   36. LIST ATTRIBUTES - Added @style-detail
  
   35. EVENT - Made <event> more like JATS, by adding:
           -  <content-version> and <content-version-alternatives>  
           -  <pub-date-not-available
           -  <book-part-id>
           -  <collection-id>  
  
   34. LEGEND ELEMENT
       a) Added new element <legend>. Both the
          element and its overrides are defined in this module,
          since JATS does not have <legend>. When JATS adds
           <legend>, the element can be removed from this module
           and only the overrides left.
       b) Legend is an optional, repeatable element that is
          allowed everywhere <caption> is allowed:
            <boxed-text>, <chem-struct-wrap>, <disp-formula>,
            <disp-formula-group>, <fig>, <fig-group>, <graphic>,
            <media>, <supplementary-material> (thru fig-model),
            <table-wrap>, <table-wrap-group>
  
   33. STATEMENT - Added the following elements to <statement>:
           -  <abstract>  
           -  <kwd-group>  
           -  <subj-group>  
  
   32. SUBJECT GROUP - Added <subj-group> to the following elements
       explicitly:
           -  <fig>: 
           -  <fig-group> 
           -  <table-wrap>: 
           -  <table-wrap-group> 
  
   31. APPENDIX GROUP - Added the
       following elements to <app-group>: 
           -  <object-id>
           -  <subj-group> 
  
   30. SECTION METADATA USAGE - Added <sec-meta> to 
           -  <glossary>
           -  <ref-list> 
  
   29. SECTION METADATA - Added <object-id>, <subj-group>, and
       <elf-uri>  to <sec-meta>.
  
   28. LANGUAGE OF THE TARGET ARTICLE - Added a new optional
       attribute @hreflang to name the language of the
       target to which the any link (e.g., <related-article>) points,
       in both link-atts and might-link-atts.
  
   27. DISPLAY FORMULA - Removed the override for <disp-formula> from
       this module, since BITS and JATS are now the same. That added 
       the following elements to <disp-formula>: 
           -  <subj-group> 
           -  <caption>
  
   26. XREF - Added to the following models to enable ability to
       point to the data "behind" the figure, table, graphic, etc.
          -  <fig>
          -  <fig-group>
          -  <table-wrap> (thru JATS %inside-table-wrap)
          -  <table-wrap-group>
  
   25. PUB ID ATTRIBUTES - Added the following
       attributes to <pub-id>:
          -  custom-type
  
   24. ASSIGNING AUTHORITY -Attribute @assigning-authority added to:
          -  <isbn> and <issn-l> (through JATS)
          -  <issn>
          -  <pub-date>
  
   23. ISBN ATTRIBUTES - Removed the @isbn-atts attributes from this
       module, as BITS is now the same as JATS. This added the following
       attributes to <isbn>:
          -  assigning-authority
  
   22. AWARD-ID ATTRIBUTES - Removed the award-id attributes from this
       module, as BITS is now the same as JATS. This added the following
       attributes to <award-id>:
          -  @award-type
          -  @award-id-type
          -  @assigning-authority
  
   21. INLINE FORMULA - Added the Accessibility elements <alt-text> and
       <long-desc>.
  
   20. DTD VERSION - Changed from a #FIXED attribute to an optional
       (#IMPLIED) attribute with a value list.
  
   19. MOVED ELEMENT DEFINITIONS WHEN JATS ADDED - Moved the
       content models or element inclusion PEs to this
       module from the book meta module, since JATS now 
       defines the elements, and an override was needed:
        - <event>
        - <event-desc>
        - <pub-history>
  
   18. STRING DATE ADDITIONS - Removed %citation-additions.class; 
       from the following elements since JATS added <string-date> 
       to all of these elements using %references.class;, and 
       adding <string-date> was all that the BITS base 
       %citation-additions.class did:
         - the citation elements
         - <product> 
         - <related-article>
         - <related-object>
  
   17. BITS became version "2.1" ("v2.1 20220202")
       Current JATS version is "1.3" and "v1.3 20220202"
  
      =============================================================
       BITS Version 2.0                (DAL/BTU) v2.0  (2015-12-25)
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, and BITS modified to use
       the most recent version. No other changes to BITS were made.
  
   16. BITS remained version "2.0" but became "v2.0 20151225"
       JATS became version "1.1" and "v1.1 20151215"
  
      =============================================================
       BITS Version 2.0                (DAL/BTU) v2.0  (2015-03-15)
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-03-01)
  
       BITS was modified, based on user feedback collected in 2014 
       and January/February 2015, according to the decisions
       made by the BITS Working Group. This DTD represents current 
       BITS and an interim version of the non-normative JATS DTD 
       Suite (version 1.1), as an indication to JATS users of 
       the decisions that have been made by the JATS Standing
       Committee. 
  
       NISO JATS is a continuing maintenance NISO Standard, which
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
   15. COUNTING ELEMENTS - The counting elements (word-count>,
       <page-count>, etc. have all been replaced by book-level,
       book-specific counting elements <book-word-count>, 
       <book-page-count>, etc. which have #PCDATA models instead
       of EMPTY models.
  
   14. RUBY BASE MODEL - Changed Ruby Base model to include 
       all-phase.
  
   13. SECTION METADATA- Added <related-article> and 
       <related-object> to model of <sec-meta>.
  
   12. FIG-GROUP- Added <attrib> and <permissions> to the end of
       the <fig-group> model, as they are on <fig>.
  
   11. ATTRIB- Added the following elements to the model of
       <attrib>:
        - collab
        - element-citation
        - mixed-citation
        - name
        - string-name
  
   10. VERSE-LINE- Added <label> to the elements allowed within
       <verse-line> to hold the number for numbered verses.
  
    9. DISP QUOTE NOW LARGER - Added optional section-level material
       to <disp-quote>, as larger quotes have been found, bigger
       than just paragraphs.
  
    8. GLOSSARY - Added optional <fn-group> to the end of
       <glossary>
  
    7. ATTRIB - The following elements will be allowed inside
       the mixed model of <attrib>:
        - collab
        - element-citation
        - mixed-citation
        - name
        - string-name
  
    6. CONTRIBUTORS - Added <contrib-group> to the beginning of:
         - <fig>
         - <fig-group>
         - <table-wrap>
         - <table-wrap-group>
  
    5. BITS became version "2.0" and   "v2.0 20150630"
       JATS became version "1.1" and "v1.1 20150301"
  
       =============================================================
       BITS Version 1.1                (DAL/BTU) v1.1    (2014-09-30)
       JATS Version 1.1d2              (DAL/BTU) v1.1d2  (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   4 . RUBY MODEL CHANGED TO MATCH HTML5
       Changed the Ruby content model to allow only a single
       Ruby annotation on a single Ruby base:
         (rb, (rt | (rp, rt, rp)) )
       The Ruby textual annotation may take a pair of
       Ruby parentheses, but these are optional.
       Changed Ruby Base model to include all-phase
  
   3 . NEW ATTRIBUTES FOR PUB-ID
        - Added the CDATA attribute @assigning-authority to
          record the authority (such as CrossRef) that created the
          identifier 
        - Added the linking attributes (optional version), 
          so that a <pub-id> that is, for example, a DOI, can 
          carry the linking attributes and be made into a live link.
          In this use of <pub-id>, the element is acting as both an 
          identifier and a link.
  
    2. STATEMENT - Added new statement.class inside the model
       for <statement>, so that statements can be recursive.
  
    1. BITS became version "1.1" and   "v1.1 20140930//EN"
       JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
       =============================================================
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- DTD VERSION -->
<!--
  What version of this DTD was used to make
  the document instance under consideration.
  Note that this is a fixed value that should
  change every time the DTD changes versions or
  revisions.
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="dtd-version">
    <optional>
      <attribute name="dtd-version">
        <choice>
          <value>1.0</value>
          <value>2.0</value>
          <value>2.1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- INLINE MIXES TO OVER-RIDE CONTENT MODELS -->
  <!--                     (ELEMENTS TO BE ADDED TO #PCDATA IN MODELS) -->
  <!-- ============================================================= -->
  <!-- ABBREVIATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <abbrev> element
  -->
  <define name="abbrev-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="def.class"/>
    </choice>
  </define>
  <!-- AFFILIATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <aff> element
  -->
  <define name="aff-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- ALTERNATE TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a paragraph <alt-title>.
    Note that for alternate titles, unlike
    other titles, the <label> element must be
    built in and is not outside the title.
  -->
  <define name="alt-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- ANONYMOUS ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <anonymous> element
  -->
  <define name="anonymous-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- ARTICLE TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <article-title> element.
  -->
  <define name="article-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- ATTRIBUTION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an attribution
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="attrib-elements">
    <choice>
      <ref name="emphasized-text"/>
      <ref name="attrib.class"/>
    </choice>
  </define>
  <!-- CHEMICAL STRUCTURE ELEMENTS -->
  <!--
    Those elements that may mix with the data
    characters inside a Chemical Structure
    <chem-struct>
  -->
  <define name="chem-struct-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="id.class"/>
      <ref name="label.class"/>
      <ref name="list.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- CITATION ELEMENTS -->
  <!--
    Content for both types of citation. These
    elements may be mixed with #PCDATA in the
    <mixed-citation> element (in which all
    punctuation and spacing are left intact), and
    they also constitute the choices that can be
    used to form the all-element-content of the
    <element-citation> element (in which
    punctuation and spacing are removed).
    Design Note: All inline mixes begin with an
    OR bar.
  -->
  <define name="citation-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COLLABORATIVE (GROUP) AUTHOR ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <collab> element. This is essentially
    %all-phrase; plus contrib-info and break.
    All-phase is not used because of
    duplication clashes with the
    -contrib-info.class;
  -->
  <define name="collab-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="address.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="contrib-group.class"/>
      <ref name="contrib-info.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COMPOUND KEYWORD PART ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the <compound-kwd-part> element
  -->
  <define name="compound-kwd-part-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- CONFERENCE DATE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <conf-date> element
  -->
  <define name="conf-date-elements">
    <choice>
      <ref name="date-parts.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COMMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Comment in a Citation <comment> element.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="comment-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- COPYRIGHT HOLDER ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <copyright-holder> element.
  -->
  <define name="copyright-holder-elements">
    <choice>
      <ref name="institution-wrap.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COPYRIGHT STATEMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <copyright-statement>
  -->
  <define name="copyright-statement-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- CORRESPONDENCE INFORMATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the correspondence information.
  -->
  <define name="corresp-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- COUNTS MODEL -->
  <!-- Content model for the <counts> element. -->
  <define name="counts-model">
    <zeroOrMore>
      <ref name="book-count"/>
    </zeroOrMore>
    <optional>
      <ref name="book-fig-count"/>
    </optional>
    <optional>
      <ref name="book-table-count"/>
    </optional>
    <optional>
      <ref name="book-equation-count"/>
    </optional>
    <optional>
      <ref name="book-ref-count"/>
    </optional>
    <optional>
      <ref name="book-page-count"/>
    </optional>
    <optional>
      <ref name="book-word-count"/>
    </optional>
  </define>
  <!-- COUNTRY ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the country element.
  -->
  <define name="country-elements">
    <ref name="x.class"/>
  </define>
  <!-- DATE IN CITATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Date Inside Citation <date-in-citation>
    element
  -->
  <define name="date-in-citation-elements">
    <choice>
      <ref name="date-parts.class"/>
      <ref name="emphasis.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- FORMULA, DISPLAY ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <disp-formula>
  -->
  <define name="disp-formula-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="abstract.class"/>
      <ref name="access.class"/>
      <ref name="break.class"/>
      <ref name="caption.class"/>
      <ref name="legend.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="id.class"/>
      <ref name="kwd-group.class"/>
      <ref name="subj-group.class"/>
      <ref name="label.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- EMAIL ADDRESS ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <email> element
  -->
  <define name="email-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- ET AL ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <etal> element
  -->
  <define name="etal-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- EVENT DESCRIPTION ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters inside the content model of the
    <event-desc> element.
  -->
  <define name="event-desc-elements">
    <choice>
      <ref name="email"/>
      <ref name="ext-link"/>
      <ref name="uri"/>
      <ref name="issn"/>
      <ref name="issn-l"/>
      <ref name="isbn"/>
      <ref name="book-id"/>
      <ref name="book-part-id"/>
      <ref name="collection-id"/>
      <ref name="edition"/>
      <ref name="content-version"/>
      <ref name="content-version-alternatives"/>
      <ref name="date.class"/>
      <ref name="pub-date"/>
      <ref name="pub-date-not-available"/>
    </choice>
  </define>
  <!-- EXTERNAL LINK ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <ext-link>
  -->
  <define name="ext-link-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- FUNDING STATEMENT ELEMENTS -->
  <!-- Model for the <funding-statement> element -->
  <define name="funding-statement-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="funding.class"/>
    </choice>
  </define>
  <!-- FORMULA, INLINE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <inline-formula> element.
  -->
  <define name="inline-formula-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
    </choice>
  </define>
  <!-- INLINE SUPPLEMENTARY MATERIAL ELEMENTS -->
  <!--
                        The elements that can be included along with
    data characters inside the content model of
    the <inline-supplementary-material> element
  -->
  <define name="inline-supplementary-material-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
    </choice>
  </define>
  <!-- INSTITUTION NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <institution> element
  -->
  <define name="institution-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- ISBN ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <isbn> element
  -->
  <define name="isbn-elements">
    <ref name="x.class"/>
  </define>
  <!-- ISSN ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issn> element
  -->
  <define name="issn-elements">
    <ref name="x.class"/>
  </define>
  <!-- ISSN-L ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issn-l> element
  -->
  <define name="issn-l-elements">
    <ref name="x.class"/>
  </define>
  <!-- ISSUE TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <issue-title> element
  -->
  <define name="issue-title-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- KEYWORD CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a keyword.
  -->
  <define name="kwd-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LABEL ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <label> element
  -->
  <define name="label-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LINK ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    linking element such as <xref>, <target>,
    and <ext-link>
  -->
  <define name="link-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LONG DESCRIPTION ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the <long-desc> element
  -->
  <define name="long-desc-elements">
    <ref name="x.class"/>
  </define>
  <!-- METADATA DATA NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <meta-name> element
  -->
  <define name="meta-name-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- METADATA DATA VALUE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <meta-value> element
  -->
  <define name="meta-value-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- NAMED CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <named-content> element
  -->
  <define name="named-content-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- PARAGRAPH ELEMENTS -->
  <!--
    Elements that may be used within a paragraph
    in a mixed content model with #PCDATA.
    Design Note: There is a major overlap between
    this parameter entity and the mix for elements
    that are at the same level as a paragraph.
    Inline elements appear only inside a
    paragraph, but block elements such as quotes
    and lists may appear either within a
    paragraph or at the same level as a
    paragraph. This serves a requirement in a
    repository DTD, since some incoming material
    will have restricted such elements to only
    inside a paragraph, some incoming material
    will have restricted them to only outside a
    paragraph and some may allow them in both
    places. Thus the DTD must allow for them to
    be in either or both.
  -->
  <define name="p-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="citation.class"/>
      <ref name="funding.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- PERSON GROUP ELEMENTS -->
  <!--
                        Elements to be mixed with #PCDATA characters
    within the Person Group element
    (name class include <string-name> in this
    tag set.
  -->
  <define name="person-group-elements">
    <choice>
      <ref name="name.class"/>
      <ref name="person-group-info.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- PREFORMATTED TEXT ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters, inside the content model for the
    <preformat> element, in which whitespace,
    such as tabs, line feeds, and spaces will
    be preserved.
  -->
  <define name="preformat-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
      <ref name="display-back-matter.class"/>
    </choice>
  </define>
  <!-- PRODUCT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <product> element
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.
  -->
  <define name="product-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="price.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- PUBLISHER'S LOCATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <publisher-loc> element
  -->
  <define name="publisher-loc-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- RELATED ARTICLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <related-article> element.
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.)
  -->
  <define name="related-article-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="journal-id.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- RELATED OBJECT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <related-object> element.
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.)
  -->
  <define name="related-object-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- ROLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <role>
    Design Note: All inline mixes begin with an
    OR bar; since %rendition-plus; is an
    inline mix, the OR bar is already there.
  -->
  <define name="role-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- SELF-URI ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <self-uri> element
  -->
  <define name="self-uri-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- SIGNATURE BLOCK ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <sig-block> element.
  -->
  <define name="sig-block-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="contrib.class"/>
      <ref name="just-base-display-noalt.class"/>
      <ref name="person-group-info.class"/>
      <ref name="sig.class"/>
    </choice>
  </define>
  <!-- SIGNATURE ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <sig> element.
  -->
  <define name="sig-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="just-base-display-noalt.class"/>
    </choice>
  </define>
  <!-- SIZE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the size element.
  -->
  <define name="size-elements">
    <ref name="x.class"/>
  </define>
  <!-- SOURCE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <source> element
  -->
  <define name="source-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- SPEAKER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a speaker.
  -->
  <define name="speaker-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="person-name.class"/>
    </choice>
  </define>
  <!-- STANDARDS ORGANIZATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <std-organization>.
  -->
  <define name="std-organization-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="institution-wrap.class"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- STRING DATE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <string-date> element
  -->
  <define name="string-date-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="date-parts.class"/>
    </choice>
  </define>
  <!-- STRING NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <string-name> element
  -->
  <define name="string-name-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="person-name.class"/>
    </choice>
  </define>
  <!-- STRUCTURAL TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <title> element
  -->
  <define name="struct-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="citation.class"/>
    </choice>
  </define>
  <!-- STYLED CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <styled-content> element
  -->
  <define name="styled-content-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- SUBJECT GROUPING NAME ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters inside the content model of the
    <subject> element
  -->
  <define name="subject-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- SUPPLEMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <supplement>
    JATS Chg: Added <label>, because there is
    a title and all title may take labels.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an inline
    mix, the OR bar is already there.
  -->
  <define name="supplement-elements">
    <choice>
      <ref name="simple-text"/>
      <ref name="contrib-group.class"/>
      <ref name="label.class"/>
      <ref name="title.class"/>
    </choice>
  </define>
  <!-- DEFINITION LIST: TERM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <term>.
  -->
  <define name="term-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-math.class"/>
      <ref name="chem-struct-wrap.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- TEXTUAL FORM ELEMENTS -->
  <!--
    Model for the <textual-form> element.
    Added <label>
  -->
  <define name="textual-form-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    title elements such as <title>, <subtitle>,
    <trans-title>, etc.
  -->
  <define name="title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- USER SPECIFIC AD-HOC METADATA ELEMENTS -->
  <!--
    An empty parameter entity to hold
    user-specified ad-hoc metadata. This is
    an escape hatch to allow any other metadata
    elements inside a BITS document.
    Design Note: All inline mixes begin with an
    OR bar.
  -->
  <define name="user-specific-meta-elements">
    <notAllowed/>
  </define>
  <!-- VERSE-LINE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <verse-line>
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an inline
    mix, the OR bar is already there.
  -->
  <define name="verse-line-elements">
    <choice>
      <ref name="simple-text"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- X ELEMENTS -->
  <!-- Elements for use inside the <x> element -->
  <define name="x-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- RUBY MARKUP -->
  <!-- ============================================================= -->
  <!-- RUBY BASE ELEMENTS -->
  <!--
    Those elements that may mix with the data
    characters inside a Ruby Base <rb> 
    element.
  -->
  <define name="rb-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- ============================================================= -->
  <!-- DUPLICATES NEEDED FOR OVER-RIDES -->
  <!-- (models unchanged from common.ent but -->
  <!-- needed below) -->
  <!-- ============================================================= -->
  <!-- CONTENT MODEL FOR AN UNTITLED SECTION -->
  <!--
    The model for a section-like structure that
    may or may not have an initial title
  -->
  <define name="sec-opt-title-model">
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF CONTENT MODELS (FULL MODELS) -->
  <!-- ============================================================= -->
  <!-- ACKNOWLEDGMENTS MODEL -->
  <!-- Content model for the <ack> element -->
  <define name="ack-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- ADDRESS MODEL -->
  <!-- Content model for the <address> element -->
  <define name="address-model">
    <zeroOrMore>
      <choice>
        <ref name="address.class"/>
        <ref name="address-link.class"/>
        <ref name="label.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- APPENDIX MODEL -->
  <!--
    Content model for the <app> element. The
    section model already contains parentheses.
    Made initial <title> optional.
  -->
  <define name="app-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
    <optional>
      <ref name="permissions"/>
    </optional>
  </define>
  <!-- APPENDIX GROUP MODEL -->
  <!-- Content model for the <app-group> element -->
  <define name="app-group-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="app.class"/>
        <ref name="ref-list.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- AUTHOR COMMENT MODEL -->
  <!--
    Content model for the <author-comment>
    element.
    JATS Chg: Added <label>.
  -->
  <define name="author-comment-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- AUTHOR NOTES MODEL -->
  <!-- Content model for an <author-notes> element. -->
  <define name="author-notes-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="corresp.class"/>
        <ref name="fn-link.class"/>
        <ref name="just-para.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- BIOGRAPHY MODEL -->
  <!-- Content model for the <bio> element -->
  <define name="bio-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- BOXED TEXT MODEL -->
  <!--
    Complete content model for the boxed text
    element <boxed-text>
  -->
  <define name="boxed-text-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="legend.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- CHEMICAL STRUCTURE WRAPPER MODEL -->
  <!--
    Content model for the Chemical Structure
    Wrapper <chem-struct-wrap> element
  -->
  <define name="chem-struct-wrap-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="legend.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <oneOrMore>
      <ref name="inside-chem-struct-wrap.class"/>
    </oneOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- CONFERENCE MODEL -->
  <!-- Content model for the <conference> element -->
  <define name="conference-model">
    <zeroOrMore>
      <choice>
        <ref name="conference.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- CONTRIBUTOR GROUP MODEL -->
  <!--                     Content model for the <title-group> element -->
  <define name="contrib-group-model">
    <oneOrMore>
      <choice>
        <ref name="contrib.class"/>
        <ref name="contrib-info.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- CONTRIBUTOR MODEL -->
  <!-- Content model for the <contrib> element -->
  <define name="contrib-model">
    <zeroOrMore>
      <choice>
        <ref name="contrib-id.class"/>
        <ref name="name.class"/>
        <ref name="degree.class"/>
        <ref name="contrib-info.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- CUSTOM METADATA GROUP MODEL -->
  <!--
    Content model for the <custom-meta-group>
    element.
    JATS Chg: Added the parameter entity
    user-specific-meta-elements.
  -->
  <define name="custom-meta-group-model">
    <oneOrMore>
      <choice>
        <ref name="custom-meta"/>
        <ref name="user-specific-meta-elements"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- DEFINITION LIST: DEFINITION ITEM MODEL -->
  <!-- Content model of a <def-item> -->
  <define name="def-item-model">
    <optional>
      <ref name="label"/>
    </optional>
    <zeroOrMore>
      <ref name="term"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="def.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- DEFINITION LIST MODEL -->
  <!-- Content model for the <def-list> element -->
  <define name="def-list-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <optional>
      <ref name="term-head"/>
    </optional>
    <optional>
      <ref name="def-head"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="def-item.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="def-list.class"/>
    </zeroOrMore>
  </define>
  <!-- FORMULA, DISPLAY GROUP MODEL -->
  <!-- Content model for an <disp-formula-group> -->
  <define name="disp-formula-group-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="legend.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="block-math.class"/>
    </zeroOrMore>
  </define>
  <!-- QUOTE, DISPLAYED MODEL -->
  <!--                     Content model for the Display Quote element -->
  <define name="disp-quote-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- EVENT MODEL -->
  <!-- Content model for the <event> element. -->
  <define name="event-model">
    <optional>
      <ref name="event-desc"/>
    </optional>
    <zeroOrMore>
      <ref name="book-id"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="edition"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="content-version"/>
    </zeroOrMore>
    <choice>
      <zeroOrMore>
        <ref name="pub-date.class"/>
      </zeroOrMore>
      <optional>
        <ref name="pub-date-not-available"/>
      </optional>
    </choice>
    <zeroOrMore>
      <ref name="date.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issn"/>
    </zeroOrMore>
    <optional>
      <ref name="issn-l"/>
    </optional>
    <zeroOrMore>
      <ref name="isbn"/>
    </zeroOrMore>
    <optional>
      <ref name="permissions"/>
    </optional>
    <zeroOrMore>
      <ref name="notes"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="self-uri.class"/>
    </zeroOrMore>
  </define>
  <!-- FIGURE-LIKE CONTENT MODEL -->
  <!--
    Content model for the Figure element and any
    similarly structured elements
  -->
  <define name="fig-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <zeroOrMore>
      <ref name="caption.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="legend.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contrib-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="block-math.class"/>
        <ref name="chem-struct-wrap.class"/>
        <ref name="intable-para.class"/>
        <ref name="just-table.class"/>
        <ref name="just-para.class"/>
        <ref name="list.class"/>
        <ref name="simple-display.class"/>
        <ref name="xref.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- FIGURE GROUP MODEL -->
  <!-- Content model for a Figure Group element -->
  <define name="fig-group-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="legend.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contrib-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="fig-display.class"/>
        <ref name="xref.class"/>
        <ref name="just-base-display.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- FOOTNOTE GROUP MODEL -->
  <!--
    Content model for the <fn-group> element
    Added an <x> as alternative to <fn>.
  -->
  <define name="fn-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="fn-link.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- GLOSSARY MODEL -->
  <!-- Content model for the <glossary> element -->
  <define name="glossary-model">
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="glossary"/>
    </zeroOrMore>
    <optional>
      <ref name="fn-group"/>
    </optional>
  </define>
  <!-- GRAPHIC MODEL -->
  <!-- Content model for the <graphic> element -->
  <define name="graphic-model">
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="abstract.class"/>
        <ref name="address-link.class"/>
        <ref name="caption.class"/>
        <ref name="legend.class"/>
        <ref name="display-back-matter.class"/>
        <ref name="id.class"/>
        <ref name="label.class"/>
        <ref name="kwd-group.class"/>
        <ref name="subj-group.class"/>
        <ref name="xref.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- KEYWORD GROUP MODEL -->
  <!-- Content model for a <kwd-group> element -->
  <define name="kwd-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <choice>
      <oneOrMore>
        <choice>
          <ref name="kwd.class"/>
          <ref name="x.class"/>
        </choice>
      </oneOrMore>
      <ref name="unstructured-kwd-group.class"/>
    </choice>
  </define>
  <!-- LEGEND ATTRIBUTES -->
  <!-- Attributes for the <legend> element -->
  <define name="legend-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- LEGEND MODEL -->
  <!-- Content model for <legend> element -->
  <define name="legend-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="list.class"/>
        <ref name="table-display.class"/>
        <ref name="nothing-but-para.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- LEGEND ELEMENT -->
  <!--
    Legend, key, where-list or other explanation
    (typically a 2-part list or a table) of the 
    keys and their meanings that are used with
    a figure, table, graphic, formula, or similar.
  -->
  <define name="legend">
    <element name="legend">
      <ref name="legend-attlist"/>
      <ref name="legend-model"/>
    </element>
  </define>
  <define name="legend-attlist" combine="interleave">
    <ref name="legend-atts"/>
  </define>
  <!-- LIST MODEL -->
  <!-- Content model for the <list> element -->
  <define name="list-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="list-item.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- MEDIA MODEL -->
  <!-- Content model for the <media> element -->
  <define name="media-model">
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="abstract.class"/>
        <ref name="address-link.class"/>
        <ref name="caption.class"/>
        <ref name="legend.class"/>
        <ref name="display-back-matter.class"/>
        <ref name="id.class"/>
        <ref name="label.class"/>
        <ref name="kwd-group.class"/>
        <ref name="subj-group.class"/>
        <ref name="xref.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- NOTES MODEL -->
  <!-- Content model for the <notes> element -->
  <define name="notes-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- PUBLICATION DATE MODEL -->
  <!-- Content model for the element <pub-date> -->
  <define name="pub-date-model">
    <oneOrMore>
      <choice>
        <ref name="date-parts.class"/>
        <ref name="string-date.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- PUBLICATION HISTORY MODEL -->
  <!--
    The content model for the <pub-history>
    element.
  -->
  <define name="pub-history-model">
    <zeroOrMore>
      <ref name="date.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="event.class"/>
    </zeroOrMore>
  </define>
  <!-- RUBY WRAPPER Model -->
  <!-- Content model for the <ruby> element -->
  <define name="ruby-model">
    <ref name="rb"/>
    <choice>
      <ref name="rt"/>
      <group>
        <ref name="rp"/>
        <ref name="rt"/>
        <ref name="rp"/>
      </group>
    </choice>
  </define>
  <!-- REFERENCE ITEM MODEL -->
  <!-- Content model for the <ref> element -->
  <define name="ref-model">
    <optional>
      <ref name="label"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="citation.class"/>
        <ref name="note.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- REFERENCE LIST MODEL -->
  <!-- Content model for the <ref-list> element -->
  <define name="ref-list-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="para-level"/>
        <ref name="ref.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ref-list.class"/>
    </zeroOrMore>
  </define>
  <!-- CONTENT MODEL FOR A STRUCTURAL SECTION -->
  <!--
    The model for a section that requires that a
    either <title> or a <label> (which in some
    journals takes the place of a title) must be
    present. One or the other must be present
    for autogeneration of a Table of Contents or
    other navigation.
    Chg from Archiving: added <subtitle> and
    <alt-title> for, for example, ToC title.
  -->
  <define name="sec-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
  </define>
  <!-- CONTENT MODEL FOR A SECTION METADATA -->
  <!-- Content model for the <sec-meta> element -->
  <define name="sec-meta-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contrib-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="self-uri.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="related-article.class"/>
    </zeroOrMore>
    <optional>
      <ref name="permissions"/>
    </optional>
  </define>
  <!-- STATEMENT, FORMAL MODEL -->
  <!-- Content model for the <statement> element -->
  <define name="statement-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <oneOrMore>
      <choice>
        <ref name="just-para.class"/>
        <ref name="statement.class"/>
      </choice>
    </oneOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- TABLE WRAPPER CONTENT MODEL -->
  <!--
    Content model for the container element that
    surrounds the standard table models for row
    and columns.
  -->
  <define name="table-wrap-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="legend.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contrib-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="inside-table-wrap"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="table-foot.class"/>
        <ref name="display-back-matter.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- TABLE WRAPPER GROUP MODEL -->
  <!--
    Content model for the <table-wrap-group>
    element
  -->
  <define name="table-wrap-group-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="legend.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contrib-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subj-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <oneOrMore>
      <choice>
        <ref name="just-table.class"/>
        <ref name="xref.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- TABLE WRAP FOOTER MODEL -->
  <!--
    Content model for the <table-wrap-foot>
    element
  -->
  <define name="table-wrap-foot-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="just-para.class"/>
        <ref name="fn-group.class"/>
        <ref name="fn-link.class"/>
        <ref name="display-back-matter.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- TITLE GROUP MODEL -->
  <!--
    Content model for the <title-group> element,
    which is used for collections, book parts,
    and structural models such as Index and Table
    of Contents.
  -->
  <define name="title-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans-title-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <optional>
      <ref name="fn-group"/>
    </optional>
  </define>
  <!-- TRANSLATED ABSTRACT MODEL -->
  <!-- Content model for an <trans-abstract> element. -->
  <define name="trans-abstract-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- TRANSLATED TITLE GROUP MODEL -->
  <!--
    Content model for the element
    <trans-title-group>
    JATS Chg: Added optional <label>.
  -->
  <define name="trans-title-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <ref name="trans-title"/>
    <zeroOrMore>
      <ref name="trans-subtitle"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- DUPLICATE ATTRIBUTE DECLARATIONS -->
  <!-- (These are unchanged from the base Suite, -->
  <!--                     but are used in attribute over-rides below) -->
  <!-- ============================================================= -->
  <!-- COMMON ATTRIBUTES -->
  <!--
    These lists of attributes will be added to
    nearly every element, in both the document
    metadata and the document body, of the entire
    Tag Set:
      - including table elements for both the
          XHTML-inspired and OASIS-inspired
          table model elements
      - excluding only <mml:math> and
          <xi:include> (whose namespaces JATS
          does not control).
       Great care should be taken to use these
    attributes judiciously, not as a shortcut to
    thinking through where an attribute should be
    used. Potential use cases include adding
    @xml:lang or some RDFa attribute to every
    elements.
  -->
  <!-- JATS BASE ATTRIBUTES -->
  <!--
    Holds all the common attributes except @id.
    Used to keep the two common attribute lists
    in sync. To add a global attribute, modify
    this list.
  -->
  <!-- JATS COMMON ATTRIBUTES -->
  <!--
    Holds all the common attributes, as defined in
    the base attribute parameter entity, plus an
    optional @id.
  -->
  <!-- JATS COMMON ATTRIBUTES (ID REQUIRED) -->
  <!--
    Holds all the common attributes, as defined in
    the base attribute parameter entity, plus a
    required @id.
  -->
  <!-- DISPLAY ATTRIBUTES -->
  <!--
    Attributes used for several of the block
    display elements
  -->
  <define name="display-atts">
    <optional>
      <attribute name="position" a:defaultValue="float">
        <choice>
          <value>anchor</value>
          <value>background</value>
          <value>float</value>
          <value>margin</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="orientation" a:defaultValue="portrait">
        <choice>
          <value>portrait</value>
          <value>landscape</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- DEFAULT LIST CLASS ATTRIBUTES -->
  <!--
    Default attribute lists to be used for most
    of the types of lists.
  -->
  <define name="list-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="list-type"/>
    </optional>
    <optional>
      <attribute name="prefix-word"/>
    </optional>
    <optional>
      <attribute name="list-content"/>
    </optional>
    <optional>
      <attribute name="continued-from">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="style-detail"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- XLINK LINK ATTRIBUTES -->
  <!--
    Attributes for any element that must be a
    link
  -->
  <define name="link-atts">
    <optional>
      <attribute name="xlink:type">
        <choice>
          <value>simple</value>
        </choice>
      </attribute>
    </optional>
    <attribute name="xlink:href"/>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="hreflang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- MIGHT LINK XLINK ATTRIBUTES -->
  <!--
    Attributes for any element that may be a link
    but need not be one
  -->
  <define name="might-link-atts">
    <optional>
      <attribute name="xlink:type">
        <choice>
          <value>simple</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:href"/>
    </optional>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="hreflang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- DATE (HISTORICAL) ATTRIBUTES -->
  <define name="date-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="date-type"/>
    </optional>
    <optional>
      <attribute name="publication-format"/>
    </optional>
    <optional>
      <attribute name="iso-8601-date"/>
    </optional>
    <optional>
      <attribute name="calendar"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- FUNDING STATEMENT ATTRIBUTES -->
  <!--                     Attributes for the <funding-source> element -->
  <define name="funding-statement-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- INLINE GRAPHIC ATTRIBUTES -->
  <!--
    Attributes for Inline Graphic
    <inline-graphic>
    From Publishing.
  -->
  <define name="inline-graphic-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="baseline-shift"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="link-atts"/>
  </define>
  <!-- ISSN ATTRIBUTES -->
  <!-- Attribute list for the <issn> element -->
  <define name="issn-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="publication-format"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="assigning-authority"/>
    </optional>
  </define>
  <!-- PUBLICATION DATE ATTRIBUTES -->
  <!-- Attributes for the <pub-date> element -->
  <define name="pub-date-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="publication-format"/>
    </optional>
    <optional>
      <attribute name="assigning-authority"/>
    </optional>
    <optional>
      <attribute name="date-type"/>
    </optional>
    <optional>
      <attribute name="iso-8601-date"/>
    </optional>
    <optional>
      <attribute name="calendar"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- PUBLICATION IDENTIFIER ATTRIBUTES -->
  <!-- Attributes for the <pub-id> element -->
  <define name="pub-id-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="pub-id-type"/>
    </optional>
    <optional>
      <attribute name="custom-type"/>
    </optional>
    <optional>
      <attribute name="assigning-authority"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- PROCESSING METADATA CONTAINER ATTRIBUTES -->
  <!--
    Attributes for the <processing-meta>
    element
  -->
  <define name="processing-meta-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="tagset-family" a:defaultValue="bits">
        <value type="string" datatypeLibrary="">bits</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="table-model">
        <choice>
          <value>xhtml</value>
          <value>oasis</value>
          <value>both</value>
          <value>none</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="math-representation">
        <data type="NMTOKENS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mathml-version" a:defaultValue="3.0">
        <value type="string" datatypeLibrary="">3.0</value>
      </attribute>
    </optional>
  </define>
  <!-- TITLE ATTRIBUTES -->
  <!--
    Attributes for the <title> element.
    JATS Chg:
    1) Added @suppress: suppress this title
    for print or display.
    2) Added "display-as" used to skip title
    levels.
    3) Show in ToC
  -->
  <define name="title-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="show-in-toc">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="suppress">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="display-as"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- TRANSLATED TITLE GROUP ATTRIBUTES -->
  <!--
    Attribute list for the <trans-title-group>
    Made xml:lang optional.
  -->
  <define name="trans-title-group-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- X(CROSS) REFERENCE ATTRIBUTES -->
  <!-- Attribute list for cross references -->
  <define name="xref-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="ref-type"/>
    </optional>
    <optional>
      <attribute name="custom-type"/>
    </optional>
    <optional>
      <attribute name="alt"/>
    </optional>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
</grammar>
<!-- ================== End BITS Book Content/ATT Over-rides ===== -->
